<div class="container-fluid">
	<div class="dashbox panel panel-info right">
		<div class="panel-body">
			
			<h2><%= "#{current_user.username}" %></h2>
			<p class="text-info"><p class="text-primary">
				<% if current_user.testscore > 39 %> Level&nbsp 4
				<% elsif current_user.testscore > 35 %> Level&nbsp 3
				<% elsif current_user.testscore > 25 %> Level&nbsp 2 
				<% elsif current_user.testscore > 10 %> Level&nbsp 1 <% end %>
				<!-- Button trigger modal -->
				&nbsp&nbsp
				<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
				  <i>i</i>
				</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Rankings</h4>
				      </div>
				      <div class="modal-body">
				        Level 1 - Starting point for most helpers <br>
				        Level 2 - Starting point for more advanced helpers, or 20 hours of chats <br>
				        Level 3 - 40 hours of chats <br>
				        Level 4 - 60 hours of chats <br>
				        Level 5 - <br>
				        Level 6 - <br>
				        ...

				      </div>
				    </div>
				  </div>
				</div>
			<p class="text-info">
				
				<div class="progress progress-striped">
				  
				  <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <strong><p class="left"> &nbsp XP <%= "#{current_user.testscore.to_i}" %>/100</p></strong>
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div>
			<p class="text-info">
				Badges
				<!-- Button trigger modal -->
				<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#Badges">
				  <i>i</i>
				</button>
				<div class="modal fade" id="Badges" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Available Badges</h4>
				      </div>
				      <div class="modal-body">
				      	<span class="label label-success">Leap of Faith</span>
				      	Signed up and passed questionnaire <br>
				        <span class="label label-danger">Awesome Badge</span>
				          Answered first chat <br>
				        <span class="label label-primary">Weekend Warrior</span>
				         30 hours of answering chats over the weekend <br>
				        <span class="label label-info">Bitsaurus</span>
				         Got 10 5 star reviews <br>
				        <span class="label label-warning">Bitoctopus</span>
				         Answered 100 chats in a week <br>
				        ...
				      </div>
				    </div>
				  </div>
				</div>
				<span class="label label-success">Leap of Faith</span>
			</p>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading center">
			Available Chats
		</div>
		<div class="panel-body">
			<p>
			  
			</p>
			</p>
		</div>
	</div>
</div>