<div class="container-fluid">
Welcome, <%= "#{current_user.username}" %>
</div>

<div class="panel panel-default">
			<div class="panel-heading center">
			
			</div>
			<div class="panel-body">
				<p>
				  
				</p>
				</p>
			</div>
		</div>