<div class="container-fluid">
	<div class="dashbox panel panel-default right">
		<div class="panel-heading center">
			Stats for <%= "#{current_user.username}" %>
		</div>
		<div class="panel-body">
			<p>
				Rank: 
				<% if current_user.testscore > 39 %> Purple belt
				<% elsif current_user.testscore > 35 %> Orange belt
				<% elsif current_user.testscore > 25 %> Yellow belt 
				<% elsif current_user.testscore > 10 %> White belt <% end %>
				<!-- Button trigger modal -->
				<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
				  <i>i</i>
				</button>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Rankings</h4>
				      </div>
				      <div class="modal-body">
				        White Belt - Starting point for most helpers <br>
				        Yellow Belt - Starting point for more advanced helpers, or 20 hours of chats <br>
				        Orange Belt - 40 hours of chats <br>
				        Purple Belt - 60 hours of chats <br>

				      </div>
				    </div>
				  </div>
				</div>
			</p>
				Experience: 
				<br>
				<div class="progress">
				  <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
				    <span class="sr-only">45% Complete</span>
				  </div>
				</div>
				<br>
				Badges: 
				<!-- Button trigger modal -->
				<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#Badges">
				  <i>i</i>
				</button>
				<div class="modal fade" id="Badges" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title" id="myModalLabel">Available Badges</h4>
				      </div>
				      <div class="modal-body">
				        Awesome Badge - Created account and answered first chat <br>
				        Weekend Warrior - 30 hours of answering chats over the weekend <br>
				        Bitsaurus - Got 10 5 star reviews <br>
				        Bitoctopus - Answered 100 chats in a week <br>
				        AND MANY MORE
				        ...
				      </div>
				    </div>
				  </div>
				</div>
				<br><br>
				<li>Signed Up Badge</li>
			</p>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading center">
			Available Chats
		</div>
		<div class="panel-body">
			<p>
			  
			</p>
			</p>
		</div>
	</div>
</div>