<center>
<div class="jumbotron">
<h1>Ask all the dumb questions you want.</h1>
<p><h3>The 24 Hour FREE Bitcoin Help Hotline</h3></p>
<p><h4>Instant | Anonymous | Secure</h4></p>
<br>
<%= link_to "Chat Now *", "#" , class: "btn btn-primary btn-lg" %>
</div>
